input[type=range].customSlider {
  width: 100%;
  margin: 4.5px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range].customSlider:focus {
  outline: none;
}
input[type=range].customSlider::-webkit-slider-runnable-track {
  background: rgba(116, 192, 139, 0.8);
  border: 0.2px solid rgba(1, 1, 1, 0);
  border-radius: 1.3px;
  width: 100%;
  height: 11px;
  cursor: pointer;
}
input[type=range].customSlider::-webkit-slider-thumb {
  margin-top: -4.7px;
  width: 20px;
  height: 20px;
  background: #74c08b;
  border: 0px solid rgba(255, 0, 30, 0);
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range].customSlider:focus::-webkit-slider-runnable-track {
  background: #bae0c6;
}
input[type=range].customSlider::-moz-range-track {
  background: rgba(116, 192, 139, 0.8);
  border: 0.2px solid rgba(1, 1, 1, 0);
  border-radius: 1.3px;
  width: 100%;
  height: 11px;
  cursor: pointer;
}
input[type=range].customSlider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #74c08b;
  border: 0px solid rgba(255, 0, 30, 0);
  border: 0;
  border-radius: 50px;
  cursor: pointer;
}
input[type=range].customSlider::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 4.5px 0;
  color: transparent;
  width: 100%;
  height: 11px;
  cursor: pointer;
}
input[type=range].customSlider::-ms-fill-lower {
  background: #408e58;
  border: 0.2px solid rgba(1, 1, 1, 0);
  border-radius: 2.6px;
}
input[type=range].customSlider::-ms-fill-upper {
  background: rgba(116, 192, 139, 0.8);
  border: 0.2px solid rgba(1, 1, 1, 0);
  border-radius: 2.6px;
}
input[type=range].customSlider::-ms-thumb {
  width: 20px;
  height: 20px;
  background: #74c08b;
  border: 0px solid rgba(255, 0, 30, 0);
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range].customSlider:focus::-ms-fill-lower {
  background: rgba(116, 192, 139, 0.8);
}
input[type=range].customSlider:focus::-ms-fill-upper {
  background: #bae0c6;
}

@supports (-ms-ime-align:auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range].customSlider {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}
